<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto', sans-serif;
}

img{
    width: 100%;
    display: block;
}
.main-wrapper{
    min-width: 70vw;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
}
.product-div{
    margin: 1rem 0;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    border-radius: 3px;
    column-gap: 10px;
}
.product-div-left{
    padding: 20px;
}
.product-div-right{
    padding: 20px;
}
.img-container img{
    width: 200px;
    margin: 0 auto;
}
.hover-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}
.hover-container div{
    border: 2px solid rgba(252, 160, 175, 0.7);
    padding: 1rem;
    border-radius: 3px;
    margin: 0 4px 8px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active{
    border-color: rgb(255, 145, 163)!important;
}
.hover-container div:hover{
    border-color: rgb(255, 145, 163);
}
.hover-container div img{
    width: 50px;
    cursor: pointer;
}
.product-div-right span{
    display: block;
}

.btn-groups{
    margin-top: 22px;
}
.btn-groups button{
    display: inline-block;
    font-size: 16px;
    font-family: inherit;
    text-transform: uppercase;
    padding: 15px 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-groups button .fas{
    margin-right: 8px;
}
.edit-btn{
    background-color: rgb(92, 96, 245);
    border: 2px solid rgb(92, 96, 245);
    margin-right: 8px;
}
.edit-btn:hover{
    background-color: #fff;
    color: rgb(92, 96, 245);
}


@media screen and (max-width: 992px){
    .product-div{
        grid-template-columns: 100%;
    }
    .product-div-right{
        text-align: center;
    }
    .product-description{
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 400px){
    .btn-groups button{
        width: 100%;
        margin-bottom: 10px;
    }
}
</style>

<div class = "main-wrapper">
    <div class = "container">
        <form class = "product-div">
            <div class = "product-div-left">
                <div class = "img-container">
                    <img src = "data:{{product.image.contentType}};base64,{{product.image.imageBase64}}" alt = "watch" style="height: 200px !important">
                </div>
                <div class = "hover-container">
                    {{#each images}}
                        {{#each this}}
                            {{#if imageBase64 }}
                            <div><img src = "data:{{contentType}};base64,{{imageBase64}}" ></div>
                            {{/if}}
                        {{/each}}
                    {{/each}}
                </div>
            </div>
            <div class = "product-div-right">
                <label for="name" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Tên sản phẩm
                </label>
                <input name="name" id="name" class = " form-control" value = "{{product.name}}" placeholder="{{product.name}}"/>
                <label for="price" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Giá
                </label>
                <input id="price" class = " form-control" name="price" value = "{{product.price}}" placeholder="$ {{product.price}}"/>

                
                <div class="">
                    <label for="quantity" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Số lượng hiện có
                    </label>
                </div>
                <input id="quantity" class = "form-control" name="quantity" value = "{{product.quantity}}" placeholder="$ {{product.quantity}}"/>
                <br>
                <div class="">
                    <label for="description" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 mb-2 col-form-label">Mô tả</label>
                </div>
                <textarea id="description" name="description" class = "form-control">{{product.description}}</textarea>
                <div class = "btn-groups">
                    <button type = "submit" name = "submit" class = "edit-btn"><i class = "bi bi-pencil"></i> Update</button>
                    {{!-- <button type = "button" class = "buy-now-btn"><i class = "fas fa-wallet"></i>buy now</button> --}}
                </div>
            </div>
        </form>
    </div>
</div>

<script>
        

const allHoverImages = document.querySelectorAll('.hover-container div img');
const imgContainer = document.querySelector('.img-container');

window.addEventListener('DOMContentLoaded', () => {
    allHoverImages[0].parentElement.classList.add('active');
});

allHoverImages.forEach((image) => {
    image.addEventListener('mouseover', () =>{
        imgContainer.querySelector('img').src = image.src;
        resetActiveImg();
        image.parentElement.classList.add('active');
    });
});

function resetActiveImg(){
    allHoverImages.forEach((img) => {
        img.parentElement.classList.remove('active');
    });
}
</script>